{# Index/index.html.twig #}
{% extends layout %}

{% block title %}
    {{ parent() }} - {{values.titulo}}
{% endblock %}


{% block content %}
    <div class="page_title row">
        <div class="col-md-12">
            <h1>{{values.titulo}}</h1>
        </div>
    </div>

    <div class="row margin-bottom-20">
        <div class="col-md-12" id="topClientes"></div>
    </div>

    <div class="row margin-bottom-20">
        <div class="col-md-12" id="topFirmas"></div>
    </div>

    <div class="row margin-bottom-20">
        <div class="col-md-12" id="ventasTodas"></div>
    </div>
        
    <div class="row margin-bottom-20">
        <div class="col-md-12" id="ventas12Meses"></div>
    </div>
{% endblock %}
