{#
  Module: Aplicaciones
  Document : modules\Aplicaciones\list.html.twig

  copyright: ALBATRONIC
  date 17.12.2014 12:00:58
#}

{% extends values.controller  ~ '/index.html.twig' %}

{% block listado %}

<div class='listado'>
	{% include '_global/listGenerico.html.twig' with {'listado': values.listado, 'controller': values.controller} %}
	{% include '_global/paginacion.html.twig' with {'filter': values.listado.filter, 'controller': values.controller, 'position': 'izq'}%}
</div>
{% endblock %}