/config/config.yml
robots.txt
/tmp/
/log/
/phpdoc/
/nbproject/
/vhost/
/lib/error_log
error_log
/theme/
/docs/docs1/tmp/
/docs/docs1/export/
/docs/docs1/formats/
/docs/docs1/images/
/docs/docs1/pdfs/
/docs/docs1/uploads/

