{#
  Module: Clientes
  Document : modules\Clientes\index.html.twig

  copyright: ALBATRONIC
  date 14.06.2015 19:52:05
#}

{% extends layout %}

{% block title parent() ~ ' - '  ~ values.titulo %}

{% block content %}
	{% include '_global/TituloGenerico.html.twig' with {'controller': values.controller, 'linkValue': values.linkBy.value} %}
	{% block filtro %}
	{% if values.permisos.permisosModulo['CO'] and values.tieneListado %}
		{% include values.controller ~ '/filtro.html.twig' with {'filter': values.listado.filter} %}
	{% endif %}
	{% endblock %}

	<div id='div_listado'>
	{% block listado %}
	{% endblock %}
	</div>

	{% block mantenimiento %}
	{% endblock %}
{% endblock %}