{#
  Module: Usuarios
  Document : modules\Usuarios\list.html.twig

  copyright: ALBATRONIC
  date 16.12.2014 22:23:06
#}

{% extends values.controller  ~ '/index.html.twig' %}

{% block listado %}
    <div class='listado'>
        {% include '_global/paginacion.html.twig' with {'filter': values.listado.filter, 'controller': values.controller, 'position': 'izq'}%}    
        {% include '_global/listGenerico.html.twig' with {'listado': values.listado, 'controller': values.controller} %}
    </div>
{% endblock %}