{#
  Module: Empresas
  Document : modules\Empresas\list.html.twig

  copyright: ALBATRONIC
  date 14.06.2015 17:11:50
#}

{% extends values.controller  ~ '/index.html.twig' %}

{% block listado %}

<div class='listado'>
	{% include '_global/listGenerico.html.twig' with {'listado': values.listado, 'controller': values.controller} %}
	{% include '_global/paginacion.html.twig' with {'filter': values.listado.filter, 'controller': values.controller, 'position': 'izq'}%}
</div>
{% endblock %}